---
import HeroAccordion from "./HeroAccordion/HeroAccordion.astro";
import HeroPagination from "./HeroPagination/HeroPagination.astro";
import HeroBtn from "./HeroBtn/HeroBtn.astro";
import HeroPreview from "./HeroPreview/HeroPreview.astro";
import Title from "@components/Title/Title.astro";
import "./hero.scss";

const { class: className } = Astro.props;

const slides = [
	{
		preview: {
			src: "/media/hero/preview-family.webp",
			width: 1023,
			height: 790
		},
		title: "Доставка Свіжих продуктів для всієї родини",
		subtitle: "Для дому",
		description: [
			"Ми виробляємо понад 200 видів м’ясної, гастрономічної та кондитерської продукції:  cвіже м’ясо, ароматні ковбаси та делікатеси, смачні кондитерські вироби — усе для Ваших домашніх сніданків, сімейних обідів і святкових вечерь.",
		],
		btn: {
			label: "Купити в роздріб",
			href: "#link-1",
		},
	},
	{
		preview: {
			src: "/media/hero/preview-business.webp",
			width: 1023,
			height: 790,
		},
		title: "Стабільні поставки для вашого бізнесу",
		subtitle: "Для бізнесу",
		description: [
			"Власне виробництво та понад 200 позицій продукції, які допомагають нашим партнерам збільшувати продажі.  Ми забезпечуємо якісний сервіс, конкурентні ціни, та продукцію з високою маржинальністю. Разом з нами Ваш бізнес зростає!",
		],
		btn: {
			label: "Купити оптом",
			href: "#link-2",
		},
	},
	{
		preview: {
			src: "/media/hero/preview-horeca.webp",
			width: 1023,
			height: 790,
		},
		title: "Сертифіковане м’ясо для ресторанів та кафе",
		subtitle: "Для HoReCa",
		description: [
			"FoodDelivery — надійний постачальник свіжого м’яса та гастрономії для ресторанів. Забезпечуємо стабільну якість, контроль безпеки продукції та вигідні умови співпраці.",
			"Щоб Ви могли створювати найкращі страви для своїх гостей!",
		],
		btn: {
			label: "Замовити",
			href: "#link-3",
		},
	},
];
---

<section class:list={[className, "hero"]} data-active-slide="1">
	<HeroPreview class="hero__preview" {slides} />
	<div class="hero__inner container">
		<div class="hero__content">
			<HeroAccordion class="hero__accordion" />
			<div class="hero__text">
				{
					slides.map(({ title, subtitle, description }, index) => (
						<div class:list={["hero__text-slide", { _active: !index }]}>
							<p class="hero__subtitle">{subtitle}</p>
							<Title class="hero__title" as="h2" size={1}>
								{title}
							</Title>
							<div class="hero__description">
								{description.map((p) => (
									<p>{p}</p>
								))}
							</div>
						</div>
					))
				}
			</div>
		</div>
		<div class="hero__actions">
			<HeroPagination class="hero__pagination" />
			<HeroBtn {slides} />
		</div>
	</div>
</section>
