---
import Title from "@components/Title/Title.astro";
import "./catalog-overview.scss";
import Icon from "@components/Icon/Icon.astro";
import SegmentCard from "@components/SegmentCard/SegmentCard.astro";

const { class: className } = Astro.props;

const catalog = [
	{
		title: "Роздрібний Каталог ",
		theme: "home",
		icon: "store",
		sections: [
			{
				title: "Ковбаси і м'ясні делікатеси",
				items: [
					"Варені ковбаси та вироби",
					"Сардельки та сосиски",
					"Напівкопчені ковбаси",
					"Сирокопчені та сировялені",
					"Смажені ковбаси",
					"Запечена продукція",
					"Продукція для грилю",
					"М'ясні копченості",
					"М'ясні снеки",
					"Паштети та зельц",
					"Сало",
				],
			},
			{
				title: "Свіже м'ясо",
				items: ["Свинина", "Курятина", "Яловичина", "Напівфабрикати", "Індичка"],
			},
			{
				title: "Заморожені продукти",
				items: ["Пельмені", "Вареники", "М'ясні напівфабрикати", "Млинці та сирники", "Інші страви"],
			},
			{
				title: "Кондитерські вироби",
				items: ["Хлібобулочні вироби", "Торти", "Тістечка", "Печиво"],
			},
		],
	},
	{
		title: "Оптовий Каталог ",
		theme: "business",
		icon: "truck",
		sections: [
			{
				title: "Ковбаси і м'ясні делікатеси",
				items: [
					"Варені ковбаси та вироби",
					"Сардельки та сосиски",
					"Напівкопчені ковбаси",
					"Сирокопчені та сировялені",
					"Смажені ковбаси",
					"Запечена продукція",
					"Продукція для грилю",
					"М'ясні копченості",
					"М'ясні снеки",
					"Паштети та зельц",
					"Сало",
				],
			},
			{
				title: "Свіже м'ясо",
				items: ["Свинина", "Курятина", "Яловичина", "Напівфабрикати", "Індичка"],
			},
			{
				title: "Заморожені продукти",
				items: ["Пельмені", "Вареники", "М'ясні напівфабрикати", "Млинці та сирники", "Інші страви"],
			},
			{
				title: "Кондитерські вироби",
				items: ["Хлібобулочні вироби", "Торти", "Тістечка", "Печиво"],
			},
		],
	},
	{
		title: "Каталог HORECA",
		theme: "horeca",
		icon: "restaurant",
		sections: [
			{
				title: "Ковбаси і м'ясні делікатеси",
				items: [
					"Варені ковбаси та вироби",
					"Сардельки та сосиски",
					"Напівкопчені ковбаси",
					"Сирокопчені та сировялені",
					"Смажені ковбаси",
					"Запечена продукція",
					"Продукція для грилю",
					"М'ясні копченості",
					"М'ясні снеки",
					"Паштети та зельц",
					"Сало",
				],
			},
			{
				title: "Свіже м'ясо",
				items: ["Свинина", "Курятина", "Яловичина", "Напівфабрикати", "Індичка"],
			},
			{
				title: "Заморожені продукти",
				items: ["Пельмені", "Вареники", "М'ясні напівфабрикати", "Млинці та сирники", "Інші страви"],
			},
		],
	},
] as const;
---

<div class:list={[className, "catalog-overview"]}>
	{
		catalog.map(({ title, theme, icon, sections }, index) => (
			<div class={`catalog-overview__col u-theme-${theme}`}>
				<SegmentCard class="catalog-overview__card" segment={theme} num={index + 1} />
				<div class="catalog-overview__body">
					<Title class="catalog-overview__title" as="h3" size={3}>
						<span class="catalog-overview__title-icon">
							<Icon id={icon} notSquare={icon === "truck"} />
						</span>
						{title}
					</Title>
					{sections.map(({ title, items }) => (
						<>
							<Title class="catalog-overview__subtitle" as="h4" size={4}>
								{title}
							</Title>
							<ul class="catalog-overview__nav">
								{items.map((text) => (
									<li class="catalog-overview__item">
										<a class="catalog-overview__link" href="#">
											{text}
										</a>
									</li>
								))}
							</ul>
						</>
					))}
				</div>
			</div>
		))
	}
</div>
